.banner {
    height: 675px;
    // width: 1000px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.banner-lunbobox {
    // width: 1920px;
    // overflow: hidden;
    // margin: 0 auto;
    width: 1000px;
    height: 672px;
    position: absolute;
    left: 50%;
    margin-left: -955px;
}

// .lunbo ul {
//     width: 1200px;
//     height: 675px;
//     margin: 0 auto;
//     position: relative;
// }
// .banner img {
//     width: 100%;
//     position: absolute;
//     left: 50%;
//     margin-left: -960px;
// }
.lunbo {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 675px;
    // border: 1px solid red;
    overflow: hidden;
    z-index: 50;
    margin: 0 auto;
    position: relative;
}

.lunbo ul li {
    width: 1920px;
    height: 675px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.lunbo ul li img {
    width: 100%;
}

.lunbo ol {
    position: absolute;
    left: 800px;
    bottom: 20px;
}

.lunbo ol li {
    float: left;
    width: 40px;
    height: 4px;
    background: white;
    text-indent: -999em;
    margin-right: 10px;
}

.lunbo ol li.active {
    background: blue;
}

#left,
#right {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    color: #fff;
    font-size: 100px;
    text-decoration: none;
    // border: 1px solid white;
    // border-radius: 50%;
    // width: 100px;
}

#left {
    left: 80px;
}

#right {
    right: 80px;
}