.footer-box1 {
    width: 1200px;
    margin: 0 auto;
    // background: blanchedalmond;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
}

.footer-box1 li {
    float: left;
    width: 25%;
    text-align: center;
}

.footer-box1 li span {
    font-size: 50px;
}

.footer-box1 ul {
    width: 1032px;
    margin: 0 auto;
}

.footer-box1 li a {
    cursor: pointer;
}

.footer-box1 p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-box1-hover:hover {
    color: #ccc;
}

.footer-box2 {
    width: 1200px;
    margin: 0 auto;
    // background-color: yellow;
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}

.footer-box2-li1 ul li a {
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-box2-li1 ul li a:hover {
    color: #333;
}

.footer-box2-li1 ul li {
    padding-bottom: 10px;
}

.footer-box2-li1 p {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-box2-li1 li {
    width: 200px;
}

.footer-box2-ser-box1 {
    margin-bottom: 20px;
    color: #a5a5a5;
    font-weight: 400;
}

.footer-box2-ser-box1 a {
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
    background: #666;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
}

.footer-box2-ser-box1 a:hover {
    background-color: #333;
}

.icon-xiaoxi {
    font-size: 25px;
}

.footer-box2-ser-box2>:nth-child(1) {
    color: #999;
    line-height: 24px;
    font-size: 14px;
    text-align: right;
}

.footer-box2-ser-box2>:nth-child(2) {
    font-size: 20px;
    color: #333;
    text-align: right;
}

.footer-box2-ser-box2>:nth-child(3) {
    color: #999;
    line-height: 24px;
    font-size: 14px;
    text-align: right;
}

.footer-box2-ser-box1,
.footer-box2-ser-box2,
.footer-box2-ser-box3 {
    width: 400px;
}

.footer-box2-ser-box2,
.footer-box2-ser-box3 {
    margin-bottom: 20px;
}

.footer-box2-ser-box3 p {
    text-align: right;
    font-size: 25px;
    margin-bottom: 20px;
    color: #a5a5a5;
    font-weight: 400;
}

.f-p>:nth-child(3) {
    font-size: 30px;
}

.footer-box2-ser-box3 p span {
    font-size: 14px;
}

.footer-box3 {
    width: 1200px;
    margin: 0 auto;
    // background: blanchedalmond;
    // border-bottom: 1px solid #ccc;
}

.footer-box3-copy {
    width: 1000px;
}

.footer-box3-copy {
    text-align: center;
    position: relative;
    color: #999;
    font-size: 14px;
    line-height: 30px;
    margin-top: 60px;
}

.footer-box3-copy>:nth-child(2) {
    margin-bottom: 50px;
}

.footer-box3-copy p {
    color: #999;
    font-weight: 400;
}

.footer-box3-ch {
    padding-top: 60px;
}

.footer {
    position: relative;
    margin: 0 auto;
}

.f-boxb {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    bottom: -1175px;
}