@charset "utf-8";
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: middle;
    border: none;
}

ul,
ol,
li {
    list-style: none;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    min-width: 1200px;
}

html,
body {
    width: 100%;
}