* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

input {
    border: 0;
}

.goodsinfo {
    width: 990px;
    margin: 100px auto;
    position: relative;
}

.wrap {
    float: left;
    position: relative;
}

#spic {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    float: left;
    position: relative;
}

#spic img {
    width: 400px;
    height: 400px;
}

#sf {
    width: 50px;
    height: 50px;
    background: orange;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

#bf {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    left: 410px;
    visibility: hidden;
    z-index: 100;
}

#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 800px;
}

#ulist {
    position: absolute;
    left: 0px;
    top: 430px;
    width: 402px;
    height: 56px;
    overflow: hidden;
}

#ulist a {
    float: left;
    width: 10px;
    height: 54px;
    border: 1px solid #ccc;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    background: #fff;
    display: block;
}

#list {
    float: left;
    margin-left: 18px;
    width: 372px;
    position: relative;
}

#list li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
}

#list li img {
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
}

.wrap ul {
    list-style: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

.wrap ul li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
}

.wrap ul li img {
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
}

#right1 {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #333;
}

#left1 {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: #fff;
}

.goodsinfo-img {
    width: 200px;
    height: 200px;
    float: left;
}

.goodsinfo-img img {
    width: 200px;
    height: 200px;
}

.goodsinfo-word {
    overflow: hidden;
    float: left;
}

.p-name {
    width: 350px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.p-name .loadtitle {
    font: 24px "微软雅黑";
    color: #666666;
}

.p-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    color: #666;
    font-size: 24px;
    letter-spacing: 7px;
    line-height: 20px;
    font-weight: 500;
    margin-left: 47px;
    margin-top: 70px;
}

.p-btn {
    margin-top: 20px;
}

.p-btn input {
    display: block;
    width: 50px;
    height: 46px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: black;
    margin-left: 50px;
    border: 1px solid gray;
    float: left;
}

.p-btn a {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #de634f;
    font-size: 16px;
    font-family: "微软雅黑";
    color: white;
    line-height: 50px;
    text-align: center;
    float: left;
    // margin-right: 10px;
    margin-top: 76px;
    border-radius: 3px;
}

.box {
    border-radius: 3px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 50px;
    background: #de634f;
}

.box a {
    color: white;
}

#count {
    width: 100px;
}