body,
html {
    background: #f5f5f5;
}

.content {
    width: 850px;
    margin: 0 auto;
    margin-top: 60px;
    background: #fff;
    padding-bottom: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.con-logo img {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    top: 30px;
}

.content-p1 {
    font-size: 20px;
    color: #333;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.content-p2 input {
    width: 350px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    // border: 1px solid #e0e4e7;
    vertical-align: middle;
    font-size: 12px;
}

.content-p3 input {
    width: 350px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    // border: 1px solid #e0e4e7;
    vertical-align: middle;
    font-size: 12px;
}

.content-p4 {
    width: 360px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    background: #e8380d;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 270px;
}

.content-p4 a {
    text-decoration: none;
    color: white;
}